
.icon-add:before { content: '\e800'; } /* '' */
.icon-back:before { content: '\e801'; } /* '' */
.icon-cam:before { content: '\e802'; } /* '' */
.icon-card:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */
.icon-dashcam:before { content: '\e806'; } /* '' */
.icon-full:before { content: '\e807'; } /* '' */
.icon-gallery:before { content: '\e808'; } /* '' */
.icon-help:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-ip:before { content: '\e80b'; } /* '' */
.icon-language:before { content: '\e80c'; } /* '' */
.icon-live:before { content: '\e80d'; } /* '' */
.icon-menu:before { content: '\e80e'; } /* '' */
.icon-next:before { content: '\e80f'; } /* '' */
.icon-photo:before { content: '\e810'; } /* '' */
.icon-play:before { content: '\e811'; } /* '' */
.icon-record:before { content: '\e812'; } /* '' */
.icon-sensitivity:before { content: '\e813'; } /* '' */
.icon-resolution:before { content: '\e814'; } /* '' */
.icon-setting:before { content: '\e815'; } /* '' */
.icon-sound:before { content: '\e816'; } /* '' */
.icon-time:before { content: '\e817'; } /* '' */
.icon-update:before { content: '\e818'; } /* '' */
.icon-wifi:before { content: '\e819'; } /* '' */
.icon-voice:before { content: '\e81a'; } /* '' */
.icon-download:before { content: '\e81b'; } /* '' */
.icon-delete:before { content: '\e81c'; } /* '' */
